/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main {
  height: 600px;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  .stars {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 1130px;
    width: 100%;
    height: 491px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: rgb(244, 244, 244);
    background: -o-radial-gradient(circle, #e0ebed33 2px, rgba(0, 0, 0, 1) 2px);
    background: radial-gradient(circle, #e0ebed33 2px, rgba(0, 0, 0, 1) 2px);
    background-size: 50.84px 50.3px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .main-text {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    h1 {
      font-family: BRSonoma-Bold;
      font-size: 64px;
      font-weight: 700;
      line-height: 77px;
      margin-bottom: 24px;
      color: white;
      max-width: 856px;
      text-align: center;
    }
    p {
      font-family: Helvetica Neue;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      margin-bottom: 32px;
      color: #e0ebed99;
    }
    .main-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-column-gap: 24px;
      -moz-column-gap: 24px;
      column-gap: 24px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      .btn {
        font-family: BRSonoma-Bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        padding: 20px;
        background-color: #e6fe52;
        -webkit-transition: all 0.4s ease 0s;
        -o-transition: all 0.4s ease 0s;
        transition: all 0.4s ease 0s;
        &:hover {
          background: #434343;
          letter-spacing: 1px;
          -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
          box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
          -webkit-transition: all 0.4s ease 0s;
          -o-transition: all 0.4s ease 0s;
          transition: all 0.4s ease 0s;
          color: yellow;
        }
      }
      .main-link {
        position: relative;
        margin: auto;
        padding: 19px 22px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        font-family: BRSonoma-Bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        cursor: pointer;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          border-radius: 28px;
          background: #e6fe52;
          width: 56px;
          height: 56px;
          -webkit-transition: all 0.4s ease;
          -o-transition: all 0.4s ease;
          transition: all 0.4s ease;
        }
        span {
          position: relative;
          font-size: 16px;
          line-height: 18px;
          font-weight: 900;
          vertical-align: middle;
          span {
            color: black;
          }
        }
        &:hover.main-link::before {
          width: 100%;
          background-color: yellow;
        }
        &:hover {
          color: black;
        }
        img {
          -webkit-filter: invert(1);
          filter: invert(1);
        }
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .main {
    height: 476px;
    .main-text {
      h1 {
        font-size: 32px;
        line-height: normal;
        max-width: 400px;
      }
      p {
        font-size: 18px;
        line-height: normal;
        max-width: 400px;
      }
      .main-buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 24px;
        .main-link {
          -webkit-column-gap: 10px;
          -moz-column-gap: 10px;
          column-gap: 10px;
          &::before {
            display: none;
          }
          img {
            -webkit-filter: none;
            filter: none;
          }
          span {
            span {
              color: white;
            }
          }
          &:hover {
            color: white;
          }
        }
      }
    }
  }
}
