/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.offers {
  margin-top: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  .offers-content {
    h2 {
      font-family: BRSonoma-Bold;
      font-size: 36px;
      font-weight: 700;
      line-height: 48px;
      margin-bottom: 48px;
    }
    .offers-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 32px;
      max-width: 700px;
      width: 100%;
      p {
        font-family: Helvetica Neue;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
      }
      .offers-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 24px;
        .offers-btn {
          white-space: nowrap;
          padding: 20px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          font-family: BRSonoma-Bold;
          font-size: 14px;
          font-weight: 700;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: center;
          border-radius: 0%;
          &:hover {
            color: white;
            background-color: black;
          }
        }
      }
    }
    form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 20px;
      input {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        outline: none;
        padding: 24px 0;
        font-family: Helvetica Neue;
        font-size: 20px;
        line-height: 34px;
        color: black;
        &::-webkit-input-placeholder {
          font-family: Helvetica Neue;
          font-size: 20px;
          line-height: 34px;
          color: rgba(0, 0, 0, 0.4);
        }
        &::-moz-placeholder {
          font-family: Helvetica Neue;
          font-size: 20px;
          line-height: 34px;
          color: rgba(0, 0, 0, 0.4);
        }
        &:-ms-input-placeholder {
          font-family: Helvetica Neue;
          font-size: 20px;
          line-height: 34px;
          color: rgba(0, 0, 0, 0.4);
        }
        &::-ms-input-placeholder {
          font-family: Helvetica Neue;
          font-size: 20px;
          line-height: 34px;
          color: rgba(0, 0, 0, 0.4);
        }
        &::placeholder {
          font-family: Helvetica Neue;
          font-size: 20px;
          line-height: 34px;
          color: rgba(0, 0, 0, 0.4);
        }
        &:focus {
          border-bottom: 1px solid black;
        }
      }
    }
    .budget {
      margin-top: 48px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      gap: 32px;
      margin-bottom: 128px;
      h4 {
        //styleName: Body/32;
        font-family: Helvetica Neue;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
      }
      .budget-btn {
        padding: 20px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        font-family: BRSonoma-Bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        background-color: white;
        &:hover {
          color: white;
          background-color: black;
        }
      }
      .budget-submit {
        font-family: BRSonoma-Bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: black;
        background: none;
        display: inline;
        border: none;
        padding: 20px 54px;
        width: 200px !important;
        margin-top: 16px;
        border-radius: 0%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
  }
  .offers-img {
    max-width: 410px;
    height: 782px;
    background-image: url(../images/payday-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    .offers-square {
      max-width: 314px;
      width: 100%;
      height: 221px;
      position: absolute;
      background-color: white;
      bottom: 48px;
      padding: 38px;

      h3 {
        font-family: BRSonoma-Bold;
        font-size: 24px;
        font-weight: 700;
        line-height: 29px;
      }
      p {
        margin-bottom: 32px;
        font-family: Helvetica Neue;
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
      }
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px;
        column-gap: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: BRSonoma-Bold;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        color: black;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        img {
          -webkit-filter: invert(1);
          filter: invert(1);
        }
      }
    }
    &:hover a {
      -webkit-column-gap: 15px;
      -moz-column-gap: 15px;
      column-gap: 15px;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .offers {
    .offers-content {
      text-align: center;
      .offers-text {
        .offers-buttons {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
        }
      }
      .budget {
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
      }
    }
  }
}
@media only screen and (max-width: 950px) {
  .offers {
    margin-top: 70px;
    .offers-content {
      .budget {
        margin-bottom: 70px;
      }
    }
  }
}
@media only screen and (max-width: 500px) {
  .offers {
    margin-top: 35px;
    .offers-content {
      h2 {
        font-size: 30px;
        line-height: normal;
        margin-bottom: 24px;
      }
      .offers-text {
        p {
          font-size: 24px;
          line-height: 27px;
        }
        .offers-buttons {
          gap: 10px;
        }
      }
      .budget {
        font-size: 24px;
        line-height: 27px;
        .budget-buttons {
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          gap: 0.5em !important;
        }
      }
    }
  }
}
