/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.second-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 138px;
  max-width: 1296px;
  width: 100%;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 128px;
  img {
    -webkit-filter: invert(1);
    filter: invert(1);
  }
}
@media only screen and (max-width: 950px) {
  .second-partners {
    display: none;
  }
}
