@import "./reset";
@import "./header";
@import "./menu";
@import "./hero";
@import "./payday";
@import "./partners";
@import "./about-us";
@import "./strategy";
@import "./approach";
body {
  background-color: black;
  .container {
    max-width: 1296px;
    width: 100%;
  }
}
